<div>
    <div id="calcFormIO"></div>

        <script type='text/javascript'>
            //Call offline
            //Formio.createForm(document.getElementById('calcFormIO'), calcForm);

            //Call online
            Formio.createForm(document.getElementById('calcFormIO'), 'https://gtdcbfvemyajgpb.form.io/calc365');

            //example
            //var authContext = new AuthenticationContext(config);
            //var user = authContext.getCachedUser();

            /*var authContext = new AuthenticationContext(config);
            var clientID = authContext.getClientID();
            console.log('clientID = ' + clientID);

            var token = authContext.getCachedToken(clientID);
            console.log('token = ' + token);*/
        </script>
</div>
