<div id="proxyID">
    Proxy
	
	<script type='text/javascript'>

		//===============================================
		//---------------- Load Iframe ------------------
		//===============================================
		var calcProxyFunct = 'https://calcproxyfunction.azurewebsites.net/calcProxy/2000/20';
		var calcLogicApp = 'https://prod-08.southcentralus.logic.azure.com/workflows/d477d861d3724a4e84f84f09b38759cc/triggers/manual/paths/invoke/calc/a/10/b/2?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=_RnUBhOPbe0ffytYkGTVVCYX5aNkIuJyVk0jVa0oFZY';
	
		//var mainURL = 'https://jpetchan-cdn-token.azurewebsites.net/api/cdntoken2';
		var mainURL = calcProxyFunct;
		var proxyIframe = document.getElementById("proxyIframe");
		proxyIframe.src = mainURL;
		
		//===============================================
		
		
		//user token
		var userToken = angular.element(document.getElementById('proxyID')).scope().getTokenHome();
		console.log('User token = '+userToken);
		
		/*var xhr = createCORSRequest('GET',mainURL);
		xhr.setRequestHeader ("Authorization", "Bearer " + userToken);
		xhr.setRequestHeader ("Access-Control-Allow-Origin","*");
		xhr.setRequestHeader ("Access-Control-Allow-Credentials",true);
		xhr.send();*/
		
		
		//===============================================
		//---------------- Json working -----------------
		//===============================================
		/*testAjaxFunction(mainURL,userToken).success(function(data){
				//var mainURL = 'https://sukanya-tst-functionapp-demoproxy.azurewebsites.net/calc/100/20';
				
				console.log('data = '+data);
				console.log('data value = '+data.value);
				console.log('data text = '+data.text);
				console.log('json stringify = '+JSON.stringify(data));
		});
			
			
		 function testAjaxFunction (mainURL,userToken){
				return $.ajax({
				url: mainURL,
				headers:{
					'Authorization':'Bearer '+userToken,
					'Access-Control-Allow-Origin':'*',
					'Access-Control-Allow-Methods':'GET',
				},
				type: "GET",
				success: function (data, textStatus, jqXHR){
					console.log('Success Working !!');
					console.log('-----------------------------------------');
					console.log('data = '+data);
					console.log('textStatus = '+textStatus);
					console.log('jqXHR = '+jqXHR);
				},
				error: function(xhr, textStatus, errorThrown, response, status, error) { 
					console.log('getCDNToken Error!!');
					console.log('xhr = '+xhr);
					console.log('textStatus = '+textStatus);
					console.log('errorThrown = '+errorThrown);
					console.log('response = '+response);
					console.log('status = '+status);
					console.log('error = '+error);
				},
				});
			}*/
			//=========================================
			alert('Update ');
			var settings = {
			  "async": true,
			  "crossDomain": true,
			  "url": "https://calcproxyfunction.azurewebsites.net/calcProxy/200/20",
			  "method": "GET",
			  "headers": {
				"Authorization": "Bearer "+userToken,
				"cache-control": "no-cache",
				"postman-token": "d681b3c2-60bf-f585-cb02-98337b6b6c7a"
			  }
			}

			$.ajax(settings).done(function (response) {
			  console.log(response);
			});
	</script>
	
	<iframe  id="proxyIframe" width="1025" height="350" sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
	
	</iframe>
</div>

<!-- <div id="proxyFormIO">
	<script type='text/javascript'>
		Formio.createForm(document.getElementById('proxyFormIO'), 'https://gtdcbfvemyajgpb.form.io/lfdemoproxycalc');
	</script>		
</div> -->