<div id="proxyID">
    Proxy
	
	<script type='text/javascript'>

		//===============================================
		//---------------- Load Iframe ------------------
		//===============================================
		var calcProxyFunct = 'https://calcproxyfunction.azurewebsites.net/calcProxy/400/20';
		var calcLogicApp = 'https://prod-08.southcentralus.logic.azure.com/workflows/d477d861d3724a4e84f84f09b38759cc/triggers/manual/paths/invoke/calc/a/10/b/2?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=_RnUBhOPbe0ffytYkGTVVCYX5aNkIuJyVk0jVa0oFZY';
	
		//var mainURL = 'https://jpetchan-cdn-token.azurewebsites.net/api/cdntoken2';
		var mainURL = calcProxyFunct;
		var proxyIframe = document.getElementById("proxyIframe");
		proxyIframe.src = mainURL;
		
		//===============================================
		
		
		//user token
		var userToken = angular.element(document.getElementById('proxyID')).scope().getTokenHome();
		console.log('User token = '+userToken);
			
			//=========================================
			//                Json Tun
			//=========================================
			var url = "https://calcproxyfunction.azurewebsites.net/calcProxy/200/2"
            //var json = null;
            var getsetting = {
                'async': false,
                'global': false,
                'url': url,
                "method": "GET",
                "headers": {
                    "cache-control": "no-cache",
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "GET, POST, PATCH, PUT, DELETE, OPTIONS",
                    "Access-Control-Allow-Headers": "Origin, Content-Type, Authorization",
                    "Authorization": "Bearer " + userToken
                }
            }
            $.ajax(getsetting).done(function (data) {
                console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>> CDN DONE");
                console.log("data = "+data);
				console.log("data value = "+data.value);
                //json = data.cdn;
            }).fail(function (err){
                console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>> CDN FAILED");
                console.log(err);
            });
           // return json;
			
			
	</script>
	
	<iframe  id="proxyIframe" width="1025" height="350" sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
	
	</iframe>
</div>

<!-- <div id="proxyFormIO">
	<script type='text/javascript'>
		Formio.createForm(document.getElementById('proxyFormIO'), 'https://gtdcbfvemyajgpb.form.io/lfdemoproxycalc');
	</script>		
</div> -->